@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
  font-family: 'Hubballi', cursive;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(25, 0, 125);
}

h1 {
  color: rgb(131, 255, 131);
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 2px solid rgb(131, 255, 131);
  border-radius: 4px;
  margin-right: 3px;
  background-color: rgb(25, 0, 125);
  color: rgb(131, 255, 131);
}

.maincontain {
  width: 560px;
  margin: 0 auto;
  text-align: center;
}

.gameresult {
  margin-top: 20px;
  font-size: 1.4rem;
  color: rgb(131, 255, 131);
}

.scorecontain {
  font-size: 1.4rem;
  margin-top: 15px;
  color: rgb(131, 255, 131);
}

.playerscorecontain {
  margin-bottom: 10px;
  color: rgb(131, 255, 131);
}

.computerscorecontain {
  margin-bottom: 10px;
  color: rgb(131, 255, 131);
}
